<div class="text-center">
    <h4>- und werden Sie Teil einer großen Community!</h4>
</div>

<div class="row">
    <div class="col-sm-8"></div>
    <div class="col-sm-4 ml-auto">

        <div class="custom-control custom-switch pull-right" data-toggle="tooltip" data-html="true" title="Wenn aktiviert, kümmern wir uns um die Installation und Einrichtung auf einem von uns bereitgestellten Server. <a href='#' target='_blank'>Mehr Infos...</a>">
            <input type="checkbox" class="custom-control-input" id="self_host" checked>
            <label class="custom-control-label" for="self_host">Cloud-Hosting</label>
        </div>

    </div>
</div>


<div class="card-group mrt-20">

            {% for plan in plans %}

                        <div class="card card-hover card-clickable{% if plan.selfOnly %}
                    self-host
                {% elseif plan.cloudOnly %}
                    cloud-host
                {% endif %}">
                            {% if plan.badge is not null %}
                                <span class="self-host">
                                    <div class="ribbon {{ plan.badgeColor }}"><span>{{ plan.badge }}</span></div>
                                </span>
                            {% endif %}
                            {% if plan.badgeCloud is not null %}
                                <span class="cloud-host">
                                    <div class="ribbon {{ plan.badgeCloudColor }}"><span>{{ plan.badgeCloud }}</span></div>
                                </span>
                            {% endif %}
                                <div class="card-header text-center">
                                    {{ plan.name }}
                                </div>
                                <div class="card-body">
                                    {% if plan.customText is null %}
                                        <div class="text-center">
                                            <h1 class="card-title i-step price">
                                                <span class="self-host">{% if plan.discount is not null %}<sup><span class="strikethrough">{{ plan.priceSelf|number_format(2, ',', '.') }}€</span></sup>&nbsp;{% endif %}{% if plan.discount is not null %}{{ plan.discount|number_format(2, ',', '.') }}€{% else %}{{ plan.priceSelf|number_format(2, ',', '.') }}€{% endif %}</span>
                                                <span class="cloud-host">{% if plan.discountCloud is not null %}<sup><span class="strikethrough">{{ plan.priceCloud|number_format(2, ',', '.') }}€</span></sup>&nbsp;{% endif %}{% if plan.discountCloud is not null %}{{ plan.discountCloud|number_format(2, ',', '.') }}€{% else %}{{ plan.priceCloud|number_format(2, ',', '.') }}€{% endif %}</span>
                                            </h1>
                                        </div>
                                        <ul class="check-bullet">
                                            <span class="self-host">

                                                {% for feat in plan.features %}
                                                    <li>{{ feat }}</li>
                                                {% else %}
                                                    <li>(Momentan sind keine Daten verfügbar.)</li>
                                                {% endfor %}

                                            </span>
                                            <span class="cloud-host">

                                                {% for feat in plan.featuresCloud %}
                                                    <li>{{ feat }}</li>
                                                {% else %}
                                                    <li>(Momentan sind keine Daten verfügbar.)</li>
                                                {% endfor %}

                                            </span>
                                        </ul>
                                    {% else %}
                                        <p class="card-text">{{ plan.customText }}</p>
                                    {% endif %}
                                </div>
                                <div class="card-footer text-center">
                                    <small class="period" style="color: #6c757d;"><span class="self-host">{{ plan.period|default('einmalig') }}</span><span class="cloud-host">{{ plan.periodCloud|default('jährlich') }}</span></small>
                                </div>
                        </div>
            {% else %}

            {% endfor %}
</div>

<small class="text-muted">Alle angegebenen Preise beinhalten - soweit für Ihr Land zutreffend - anfallende Mehrwert- oder Umsatzsteuern.</small>

<script type="text/javascript" src="{{ asset('js/pricing.js') }}"></script>
<script>
    $(document).ready(function() {
        var sly = new Sly( '.frame1', $.extend(Sly.defaults, {
            speed: 300,
            smart: 1
        }));
        sly.init();

        $(window).resize(function(e) {
            $('.frame1').sly('reload');
        });
    });

</script>